.text-h1 {
	margin-top: 40px;
	font-size:48pt;
}

.p-h1 {
	margin-top: 30px;
	font-size: 15pt;
	text-align: center;
}

.price-h1 {
	font-size:38pt;
	color: red;
	text-align: center;
}

.button {
	margin-top: 25px;
	text-align: center;
}

.margindesc {
	margin-top: 80px;
}

.marginfree {
	margin-top: 20px;
}

.line {
	width: 170px;
	height: 8px;
	background: #ffc107;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.marginvid {
	margin-top: 40px;
	margin-bottom: 80px;
}

.slider {
	margin-top: 40px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bg {
	background: #ffc107;
}

.imparar img{
	margin-top: 80px;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
	.text-h1 {
		margin-top: 25px;
		font-size: 38pt;
		text-align: center;
	}
	.p-h1 {
		margin-top: 15px;
		font-size: 17pt;
		text-align: center;
	}

	.head {
		font-size: 18pt;
	}

	.line {
		width: 110px;
	}

	.video {
		width: 100%;
		height: 230px;
		margin-bottom: 20px;
	}

	.marginvid {
		margin-top: 40px;
	}

	.slider {
		width: 80%;
		margin-top: 20px;
	}

	.imparar img{
		margin-top: 0;
	}
}